@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  @font-face {
    font-family: 'Contrail';
    src: url('fonts/Cubano.ttf') format('opentype');
  }
}

@keyframes glow {
  0%, 100% { text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 10px #00FFFF; }
  50% { text-shadow: 0 0 10px #00FFFF, 0 0 10px #00FFFF, 0 0 20px #00FFFF; }
}

.glow {
  animation: glow 1.5s ease-in-out infinite;
}
